@-webkit-keyframes spin {
    to {
        stroke-dashoffset: -264;
    }
}

@keyframes spin {
    to {
        stroke-dashoffset: -264;
    }
}

.network-fake {
}
.network-fake::after {
    clear:left;
}
.spinner {
   position: absolute;
    top: 60px;
    left: 600px;
 }
.spinner circle {
    fill: none;
    stroke: slategray;
    stroke-width: 16;
    stroke-linecap: round;
    stroke-dasharray: 0, 0, 70, 194;
    stroke-dashoffset: 0;
    animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
}

html {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 2em;
    line-height: 1.3em;
    margin: 0 0 0.5em;
}

input {
    padding: 4px 4px;
    vertical-align: middle;
}
table, th, td {
 }
th:nth-child(1) {
    width: 90px;
}
th:nth-child(2) {
    width: 170px;
}
th:nth-child(3) {
    width: 420px;
}

table, th, td {
    /*display:none;*/
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    background-color: purple;
    color: white;
}

.taskCanvas {
     border:1px solid #d3d3d3;
}
