@-webkit-keyframes spin {
    to {
        stroke-dashoffset: -264;
    }
}

@keyframes spin {
    to {
        stroke-dashoffset: -264;
    }
}

.network-fake {
    /*float: left;*/
}
.network-fake::after {
    clear:left;
}
.spinner {
   position: absolute;
    top: 60px;
    left: 600px;
 }
.spinner circle {
    fill: none;
    stroke: slategray;
    stroke-width: 16;
    stroke-linecap: round;
    stroke-dasharray: 0, 0, 70, 194;
    stroke-dashoffset: 0;
    animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
}

html {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 2em;
    line-height: 1.3em;
    margin: 0 0 0.5em;
}

input {
    padding: 4px 4px;
    vertical-align: middle;
}
table, th, td {
    width: 70%;
 }
th:nth-child(1) {
    width: 10%;
}
th:nth-child(2) {
    width: 10%;
}
th:nth-child(3) {
    width: 10%;
}
th:nth-child(4) {
    width: 60%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    background-color: purple;
    color: white;
}

.diagram {
    position: relative;
    height: 460px;
}

.process {
    border: 2px solid black;
            position: absolute;
}   
    .process p {
        padding: 0px 10px;
    }

.inInitial {
    background: #eee; /* initial grey */
}

.inExecution {
    background: #ffd800; /* yellow*/
}

.inFinished {
    background: #297f34; /* green */
}

.inError {
    background: red;
}

#retpur {
    left: 160px;
    top: 13px;
}

#retcus {
    left: 230px;
    top: 100px;
}

#retloc {
    left: 424px;
    top: 100px;
}

#valcus {
    left: 359px;
    top: 180px;
}

#valtra {
    left: 19px;
    top: 180px;
}

#exeord {
    left: 180px;
    top: 265px;
}

#updpur {
    left: 165px;
    top: 340px;
}

#linord {
    left: 160px;
    top: 410px;
}

#snderr {
    left: 359px;
    top: 410px;
}
